.contacts-list {
    margin-left: auto;
    display: flex;
    align-items: center;
}
.mail {
    display: flex;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--textcolor-paragraph-contacts);
    align-items: center;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: var(--hover-focus-color);
    }
}

.number {
    display: flex;
    margin-left: 50px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--textcolor-paragraph-contacts);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: var(--hover-focus-color);
    }
}

.svg-address {
    fill: var(--textcolor-paragraph-contacts);
    margin-right: 10px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .mail:hover &,
    .mail:focus & {
        fill: var(--hover-focus-color);
    }
    .number:hover &,
    .number:focus & {
        fill: var(--hover-focus-color);
    }
}